.time-sheet {
  width: 100%;
  height: 100%;
  padding: 52px 40px 100px 0;

  &_container {
    padding: 40px 0;
  }

  &_top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
  }

  .months-slide {
    margin: 40px 0 22px 0;
  }

  &_week-l {
    border-top: 1px solid #d4d8db;
    .row {
      border-bottom: 1px solid #d4d8db;
      transition: 0.2s;
      &:hover {
        background: #eef0f5;
      }
    }
  }
  &_week {
    border-top: 1px solid #2c3236;
    .row {
      border-bottom: 1px solid #2c3236;
    }
  }

  &_week,
  &_week-l {
    width: 100%;

    .row {
      width: 100%;
      display: flex;
      align-items: center;

      &_col {
        width: 184px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 16px 0 16px 50px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.176px;

        .edit {
          cursor: pointer;
        }
      }
    }
  }
}

.edit-timesheet {
  border: 1px solid #2c3236;
  background: #0e1112;
  box-shadow: 0px 4px 32px 0px rgba(8, 9, 9, 0.4);
}
.edit-timesheet-l {
  border: 1px solid #d4d8db;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(95, 95, 95, 0.32);
}
.edit-timesheet,
.edit-timesheet-l {
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 24px;
  width: 410px;

  > * {
    width: 100%;
  }

  &_first {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      cursor: pointer;
    }
    > span {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &_second {
    > span {
      color: #88949b;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &_second-l {
    > span {
      color: #666a6e;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &_third {
    > * {
      > span {
        color: #88949b;
      }
    }
  }
  &_third-l {
    > * {
      > span {
        color: #666a6e;
      }
    }
  }
  &_third,
  &_third-l {
    display: flex;
    align-items: center;
    gap: 24px;
    > * {
      width: 49%;

      > span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &_fours {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
  }
}
