.projectDetail_container {
  width: 100%;
  height: 100vh;
  padding: 52px 0 100px 0;

  .first_section {
    width: 100%;
    padding: 15px 40px 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__left {
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;

      .list-of-projects {
        width: 165px;
        position: absolute;
        left: 73%;
        top: 100%;
        z-index: 2;
      }
      .icons {
        color: #88949b;
        display: flex;
        align-items: center;
        gap: 10px;

        > * {
          cursor: pointer;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 8px;

      .users {
        display: flex;
        align-items: center;
        width: 97px;
        height: 29px;
        position: relative;

        &_user {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          border: 1.5px solid #eef0f5;
          background: #fff;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .user1 {
          position: absolute;
          left: 0;
          top: 0;
        }
        .user2 {
          position: absolute;
          left: 23px;
          top: 0;
        }
        .user3 {
          position: absolute;
          left: 46px;
          top: 0;
        }
        .user4 {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 69px;
          top: 0;
          color: #88949b;
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .dark-line {
      border-bottom: 1px solid #2c3236;
    }
    .light-line {
      border-bottom: 1px solid #d4d8db;
    }

    .dark-line,
    .light-line {
      width: 103.5%;
      position: absolute;
      left: -40px;
      bottom: 0;
    }
  }

  .second_section {
    width: 100%;
    padding: 12px 40px 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__right {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      > * {
        color: #88949b;
        position: relative;
      }

      &_filter {
        width: 166px;
        position: absolute;
        right: 40px;
        top: 90%;
        z-index: 2;
      }
    }

    .dark-line {
      border-bottom: 1px solid #2c3236;
    }
    .light-line {
      border-bottom: 1px solid #d4d8db;
    }

    .dark-line,
    .light-line {
      width: 103.5%;
      position: absolute;
      left: -40px;
      bottom: 0;
    }
  }

  .third_section {
    width: 100%;
    height: 100%;
    padding: 20px 40px 0 0;
    display: flex;
    align-items: self-start;
    overflow-x: scroll;
    gap: 16px;

    &__addInput-d {
      border: 1px solid #fafafa;
      color: #fafafa;
    }

    &__addInput-l {
      border: 1px solid #1e1f21;
      color: #1e1f21;
    }

    &__addInput-d,
    &__addInput-l {
      width: 264px;
      border-radius: 8px;
      background: transparent;
      padding: 12px;
      outline: none;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
