.milestones {
  width: 100%;
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: self-start;

  &_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 16px 0 16px 0;

    > button {
      cursor: pointer;
      border: none;
      background: transparent;
      display: flex;
      gap: 8px;
      align-items: center;
      color: #88949b;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 40px;
    }
  }

  &_list {
    width: 100%;

    &-head {
      border-top: 1px solid #2c3236;
      border-bottom: 1px solid #2c3236;
      display: flex;
      align-items: center;

      .doublepoints {
        width: 30px;
      }

      > * {
        width: 158px;
        color: #88949b;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.176px;
        padding: 16px;
      }
    }

    &-body {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 100%;
    }

    &-element {
      width: 100%;
      display: flex;
      align-items: center;
      .doublepoints {
        width: 30px;
        position: relative;

        > * {
          position: absolute;
        }
      }

      > * {
        width: 158px;
        color: #fafafa;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.176px;
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 15px;

        .gray {
          cursor: pointer;
        }
      }
    }
  }
}

.create-milestone {
  display: flex;
  width: 552px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid #2c3236;
  background: #0e1112;
  box-shadow: 0px 4px 32px 0px rgba(8, 9, 9, 0.4);

  > * {
    display: flex;
    width: 100%;
    gap: 4px;
    .bl-title {
      color: #88949b;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &_first {
    align-items: center;
    justify-content: space-between;
    .gray {
      cursor: pointer;
    }
  }
  &_second {
    align-items: self-start;
    flex-direction: column;
  }
  &_third {
    align-items: self-start;
    flex-direction: column;

    > * {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: start;
      gap: 24px;

      > span {
        width: 100%;
      }
    }
  }
  &_fours {
    align-items: self-start;
    flex-direction: column;
    > textarea {
      resize: none;
      width: 100%;
      background: transparent;
      border-radius: 8px;
      border: 1px solid #2c3236;
      display: flex;
      padding: 8px 12px;
      color: #fafafa;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &_fives {
    width: 100%;
    justify-content: end;
    gap: 24px;
  }
}
