.log-sheet {
  width: 100%;
  height: 100%;
  padding: 52px 40px 100px 0;

  &_container {
    padding: 40px 0;
  }

  &_cards {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 20px 0 40px 0;
  }

  &_card-l {
    border: 1px solid #d4d8db;
    background: #eef0f5;

    &_time {
      color: #666a6e;
      > span {
        color: #1e1f21;
      }
    }
  }

  &_card {
    border: 1px solid #2c3236;
    background: #25272c;

    &_time {
      color: #88949b;
      > span {
        color: #fafafa;
      }
    }
  }

  &_card,
  &_card-l {
    border-radius: 16px;
    width: 264px;
    height: 139px;
    flex-shrink: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;

    &_time {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;

      > span {
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
      }
    }
  }

  &_lists {
    width: 100%;

    &_title-l {
      color: #1e1f21;
    }
    &_title {
      color: #fafafa;
    }
    &_title,
    &_title-l {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_list {
      border-top: 1px solid #2c3236;
    }
    &_list-l {
      border-top: 1px solid #d4d8db;
    }
    &_list,
    &_list-l {
      width: 100%;

      .row-l {
        border-bottom: 1px solid #d4d8db;
      }
      .row {
        border-bottom: 1px solid #2c3236;
      }
      .row,
      .row-l {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 16px;

        &_col {
          width: 100%;
          display: grid;
          padding: 16px 0 16px 50px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.176px;

          .edit {
            cursor: pointer;
          }
        }
      }
    }
  }
}
