.comments-comp {
  width: 100%;
  padding: 40px 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &_container-l {
    border: 1px solid #d4d8db;
    background: #eef0f5;
  }
  &_container {
    background: #25272c;
  }
  &_container,
  &_container-l {
    width: 100%;
    border-radius: 12px;
  }
  &_all {
    width: 100%;
    padding: 20px 27px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    &_comment {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 4px;

      &_top {
        display: flex;
        align-items: center;
        gap: 8px;

        .user-image {
          display: flex;
          width: 28px;
          height: 28px;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 25px;
          background: rgba(42, 87, 200, 0.14);
          color: #2a57c8;
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          border-radius: 50%;
        }
        .user-name-l {
          color: #1e1f21;
        }
        .user-name {
          color: #fafafa;
        }
        .user-name,
        .user-name-l {
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
        }
        .circle {
          height: 4px;
          width: 4px;
          background: #88949b;
          border-radius: 50%;
        }
        .comment-date {
          color: #88949b;
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
        }
      }

      &_bottom-l {
        color: #1e1f21;
      }
      &_bottom {
        color: #88949b;
      }
      &_bottom,
      &_bottom-l {
        width: 100%;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
  .comment {
    width: 100%;
    padding: 16px 24px;

    .addCommentTextarea-d {
      border: 1px solid #2c3236;
      color: #ffffff;
      background: transparent;
    }
    .addCommentTextarea-l {
      border: 1px solid #d4d8db;
      color: #1e1f21;
      background: #fafafa;
    }
    .addCommentTextarea {
      width: 100%;
      resize: none;
      border-radius: 8px;
      padding: 8px 12px;
      outline: none;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .addComment-l {
      border: 1px solid #d4d8db;
      background: #fafafa;
    }
    .addComment {
      border: 1px solid #88949b;
      background: transparent;
    }
    .addComment,
    .addComment-l {
      border-radius: 8px;
      width: 100%;
      padding: 12px;

      .addCommentTextarea-d {
        border: none;
        color: #ffffff;
        background: transparent;
      }
      .addCommentTextarea-l {
        border: none;
        color: #1e1f21;
        background: transparent;
      }
      .addCommentTextarea {
        width: 100%;
        resize: none;
        border-radius: 8px;
        padding: 8px 12px;
        outline: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      &_add {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_left-l {
          > * {
            color: #666a6e;
            cursor: pointer;
          }
        }
        &_left {
          > * {
            color: #88949b;
            cursor: pointer;
          }
        }
        &_left,
        &_left-l {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
}
