.project-title {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &_icon {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    border-radius: 12px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .darkTitle {
    color: #fafafa;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }

  .lightTitle {
    color: #1e1f21;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }
}
