.bordered-input {
  border-radius: 8px;
  border: 1px solid #2c3236;
  background: transparent;
  padding: 8px 12px;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  width: 100%;
}
