.nots {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &_container {
    border-bottom: 1px solid #2c3236;
    border-left: 1px solid #2c3236;
    background: #1e2024;
    box-shadow: 0px 4px 32px 0px rgba(8, 9, 9, 0.4);
  }
  &_container-l {
    border-bottom: 1px solid #d4d8db;
    border-left: 1px solid #d4d8db;
    background: #fafdff;
    box-shadow: 0px 4px 24px 0px rgba(95, 95, 95, 0.32);
  }
  &_container,
  &_container-l {
    width: 591px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &_top-l {
    border-bottom: 1px solid #d4d8db;
  }
  &_top {
    border-bottom: 1px solid #2c3236;
  }
  &_top,
  &_top-l {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    > span {
      font-family: Inter;
      font-size: 24px;
      font-weight: 400;
    }

    .gray {
      cursor: pointer;
    }
  }

  &_content {
    width: 100%;

    > p {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #06f;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.16px;
      padding: 13px 24px;
    }

    &_all {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      gap: 24px;
    }

    &_not-l {
      border-bottom: 1px solid #d4d8db;
    }
    &_not {
      border-bottom: 1px solid #2c3236;
    }
    &_not,
    &_not-l {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      gap: 12px;
      padding: 0 24px 24px 24px;

      &_top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
          display: flex;
          align-items: center;
          gap: 8px;

          .username {
            display: flex;
            width: 28px;
            height: 28px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 25px;
            background: rgba(42, 87, 200, 0.14);
            color: #2a57c8;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }

          .name-l {
            color: #1e1f21;
          }
          .name-d {
            color: #fafafa;
          }

          .name-d,
          .name-l {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          .circle {
            height: 4px;
            width: 4px;
            background: #88949b;
            border-radius: 50%;
          }

          > span {
            color: #88949b;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      &_bot {
        color: #fafafa;
      }
      &_bot-l {
        color: #1e1f21;
      }
      &_bot,
      &_bot-l {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
