.l-s_detail {
  width: 100%;
  height: 100%;
  padding: 52px 40px 100px 0;

  &_container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
  }

  &_back {
    cursor: pointer;
  }

  .l-d {
    border-top: 1px solid #2c3236;
  }
  .l-l {
    border-top: 1px solid #d4d8db;
  }
  &_list,
  .l-d,
  .l-l {
    width: 100%;

    &_row-l {
      border-bottom: 1px solid #d4d8db;
    }

    &_row {
      border-bottom: 1px solid #2c3236;
    }

    &_row,
    &_row-l {
      width: 100%;

      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 0px;

      &_col {
        width: 100%;
        padding: 16px 0 16px 50px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.176px;
      }
    }
  }
}
