.d-block {
  border: 1px solid #2c3236;
  background: #1e2024;

  &:hover {
    border: 1px solid #88949b;
  }
}
.l-block {
  border: 1px solid #d4d8db;
  background: #fafdff;

  &:hover {
    border: 1px solid #d4d8db;
  }
}

.block {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 16px;
  transition: 0.2s;

  &_taskName-d {
    color: #fafafa;
  }

  &_taskName-l {
    color: #1e1f21;
  }

  &_taskName-d,
  &_taskName-l {
    width: 100%;
    gap: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
    }

    .d-rename {
      color: #fafafa;
      border: none;
      outline: none;
    }

    .l-rename {
      color: #1e1f21;
      border: none;
      outline: none;
    }

    .d-rename,
    .l-rename {
      width: 100%;
      background: transparent;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;

      &::selection {
        outline: none;
        border: none;
        background: #2a57c8;
      }
    }

    .editTask-d {
      color: #88949b;
      background: #1e2024;
      &:hover {
        background: #2c3236;
      }
    }
    .editTask-l {
      color: #666a6e;
      background: #fafdff;
      &:hover {
        background: #d4d8db;
      }
    }

    .editTask-d,
    .editTask-l {
      display: block;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      position: relative;

      .list {
        width: 166px;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 101%;

        .second-list {
          width: 166px;
          position: absolute;
          z-index: 6;
          left: 101%;
          top: 70%;
        }
      }
    }
  }

  &_first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left,
    &_right {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &_left {
      > * {
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
      }
    }
    &_right {
      .comments-d,
      .shared-d {
        > * {
          color: #88949b;
        }
      }

      .comments-l,
      .shared-l {
        > * {
          color: #666a6e;
        }
      }

      .comments-d,
      .shared-d,
      .comments-l,
      .shared-l {
        display: flex;
        align-items: center;

        > span {
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    &_left {
      .status-d,
      .status-l {
        border-radius: 12px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        color: #c5850a;
      }

      .status-d {
        background: #403624;
      }

      .status-l {
        background: rgba(197, 133, 10, 0.14);
      }

      .priority {
        color: #19893f;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        border-radius: 12px;
        background: rgba(25, 137, 63, 0.14);
      }
    }
  }

  &_second {
    display: flex;
    align-items: center;
    gap: 8px;

    .date-d {
      color: #88949b;
    }

    .date-l {
      color: #666a6e;
    }

    .date-d,
    .date-l {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &_third {
    width: 100%;
    display: flex;
    align-items: center;

    &__text-l {
      background: rgba(197, 133, 10, 0.14);
    }
    &__text-d {
      background: rgba(197, 133, 10, 0.14);
    }

    &__text-l,
    &__text-d {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 8px;
      border-radius: 12px;
      color: #c5850a;
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
    }
  }

  > textarea {
    width: 100%;
    background: transparent;
    resize: none;
    border: none;
    outline: none;
    color: #fafafa;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
  }
}
