.task-detail {
  position: absolute;
  right: 0;
  top: 0;
  width: 592px;
  height: 100%;
  border-left: 1px solid #2c3236;
  background: #1e2024;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;

  &_top {
    padding: 12px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2c3236;
    background: #1e2024;
    position: absolute;
    left: 0;
    top: 0;

    &_left,
    &_right {
      display: flex;
      align-items: center;
      color: #88949b;
    }
    &_left {
      gap: 8px;
    }

    &_right {
      gap: 24px;

      > * {
        cursor: pointer;
      }
    }
  }

  &_content {
    padding: 60px 24px 12px 24px;

    .bread-crumbs {
      display: flex;
      align-items: center;
      gap: 8px;

      > span {
        color: #88949b;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .task-name {
      color: #fafafa;
      font-family: Inter;
      font-size: 32px;
      font-weight: 400;
      margin: 15px 0;
    }

    .about-task {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 16px;

      &_info {
        display: flex;
        align-items: center;

        &_left {
          width: 120px;
          color: #88949b;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        &_right {
          color: #fafafa;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.16px;
          padding: 2px 8px;
        }

        &_Right {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #88949b;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.16px;
          border-radius: 8px;
          padding: 8px 10px;
          width: 166px;
          cursor: pointer;
          transition: 0.2s;
          position: relative;
          &:hover {
            background: #2c3236;
          }
        }

        &_right,
        &_Right {
          .modal {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            border-radius: 8px;
            border: 1px solid #2c3236;
            background: #0e1112;
            width: 166px;
            box-shadow: 0px 4px 32px 0px rgba(8, 9, 9, 0.4);

            &_elem {
              padding: 8px 10px;
              width: 100%;
              cursor: pointer;
              transition: 0.2s;

              .low {
                background: rgba(25, 137, 63, 0.14);
                color: #19893f;
              }
              .medium {
                background: rgba(197, 133, 10, 0.14);
                color: #c5850a;
              }
              .high {
                background: rgba(204, 62, 78, 0.14);
                color: #cc3e4e;
              }

              .low,
              .medium,
              .high {
                display: flex;
                padding: 2px 8px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 12px;
                width: 80%;
              }
            }

            &_elem2 {
              width: 100%;
              padding: 8px 10px;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                background: #2c3236;
              }
            }
          }
        }
      }
    }

    .description {
      width: 100%;
      border-radius: 16px;
      border: 1px solid #2c3236;
      background: transparent;
      padding: 12px;
      resize: none;
      margin: 24px 0;
      height: 140px;
      outline: none;
      color: #ffffff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .subtask {
      display: flex;
      flex-direction: column;
      gap: 4px;

      > input {
        width: 100%;
        background: transparent;
        outline: none;
        padding: 8px 12px;
        border: none;
        color: #fafafa;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.14px;
        border-radius: 8px;
        border: 1px solid var(--white, #fafafa);
      }

      > span {
        color: #88949b;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      > button {
        border-radius: 8px;
        border: 1px solid #2c3236;
        background: transparent;
        width: 130px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        color: #88949b;
        padding: 6px 0;

        > span {
          color: #fafafa;
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.14px;
        }
      }

      .subtask-title {
        border-radius: 8px;
        border: 1px solid #2c3236;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 10px;
        cursor: pointer;

        &_left,
        &_right {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #88949b;

          > span {
            color: #fafafa;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.16px;
          }
        }
      }
    }
  }

  .comments {
    width: 100%;

    &_all {
      width: 100%;
      padding: 20px 27px;
      background: #25272c;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      &_comment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        &_top {
          display: flex;
          align-items: center;
          gap: 8px;

          .user-image {
            display: flex;
            width: 28px;
            height: 28px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 25px;
            background: rgba(42, 87, 200, 0.14);
            color: #2a57c8;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }
          .user-name {
            color: #fafafa;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
          }
          .circle {
            height: 4px;
            width: 4px;
            background: #88949b;
            border-radius: 50%;
          }
          .comment-date {
            color: #88949b;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }
        }

        &_bottom {
          width: 100%;
          color: #88949b;
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
    .comment {
      background: #25272c;
      width: 100%;
      padding: 16px 24px;

      .addCommentTextarea {
        width: 544px;
        resize: none;
        background: transparent;
        border-radius: 8px;
        border: 1px solid #2c3236;
        padding: 8px 12px;
        outline: none;
        color: #ffffff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      .addComment {
        border-radius: 8px;
        border: 1px solid var(--grey, #88949b);
        background: var(--Color_background, #1e2024);
        width: 544px;
        padding: 12px;

        .addCommentTextarea {
          width: 100%;
          resize: none;
          background: transparent;
          border-radius: 8px;
          outline: none;
          color: #ffffff;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          border: none;
        }

        &_add {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &_left {
            display: flex;
            align-items: center;
            gap: 16px;

            > * {
              color: #88949b;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
