.task-detail-d {
  border-left: 1px solid #2c3236;
  background: #1e2024;
}
.task-detail-l {
  border-left: 1px solid #d4d8db;
  background: #fafdff;
}

.task-detail {
  position: absolute;
  right: 0;
  top: 0;
  width: 592px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;

  &_top-d {
    border-bottom: 1px solid #2c3236;
    background: #1e2024;

    .right,
    .left,
    .right,
    .left {
      color: #88949b;
    }
  }
  &_top-l {
    background: #fafdff;
    border-bottom: 1px solid #d4d8db;

    .right,
    .left,
    .right,
    .left {
      color: #666a6e;
    }
  }

  &_top {
    padding: 12px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;

    .right,
    .left,
    .right,
    .left {
      display: flex;
      align-items: center;
    }
    .left {
      gap: 8px;
    }

    .right {
      gap: 24px;

      > * {
        cursor: pointer;
      }
    }
  }

  &_content {
    padding: 60px 24px 12px 24px;

    .bread-crumbs-l {
      > span {
        color: #666a6e;
      }
    }
    .bread-crumbs-d {
      > span {
        color: #88949b;
      }
    }

    .bread-crumbs-d,
    .bread-crumbs-l {
      display: flex;
      align-items: center;
      gap: 8px;

      > span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .task-name {
      font-family: Inter;
      font-size: 32px;
      font-weight: 400;
      margin: 15px 0;
    }

    .about-task {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 16px;

      &_info {
        display: flex;
        align-items: center;

        &_left-l {
          color: #666a6e;
        }
        &_left {
          color: #88949b;
        }

        &_left,
        &_left-l {
          width: 120px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        &_right-l {
          color: #1e1f21;
        }

        &_right {
          color: #fafafa;
        }

        &_right,
        &_right-l {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.16px;
          padding: 2px 8px;
        }

        &_Right-l {
          color: #666a6e;
          &:hover {
            background: #D4D8DB;
          }
        }

        &_Right {
          color: #88949b;
          &:hover {
            background: #2c3236;
          }
        }

        &_Right,
        &_Right-l {
          display: flex;
          align-items: center;
          gap: 8px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.16px;
          border-radius: 8px;
          padding: 8px 10px;
          width: 166px;
          cursor: pointer;
          transition: 0.2s;
          position: relative;
        }

        &_right,
        &_Right {
          .modal {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            border-radius: 8px;
            border: 1px solid #2c3236;
            background: #0e1112;
            width: 166px;
            box-shadow: 0px 4px 32px 0px rgba(8, 9, 9, 0.4);

            &_elem {
              padding: 8px 10px;
              width: 100%;
              cursor: pointer;
              transition: 0.2s;

              .low {
                background: rgba(25, 137, 63, 0.14);
                color: #19893f;
              }
              .medium {
                background: rgba(197, 133, 10, 0.14);
                color: #c5850a;
              }
              .high {
                background: rgba(204, 62, 78, 0.14);
                color: #cc3e4e;
              }

              .low,
              .medium,
              .high {
                display: flex;
                padding: 2px 8px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 12px;
                width: 80%;
              }
            }
          }
        }
      }
    }

    .description-l {
      color: #1e1f21;
      border: 1px solid #666a6e;
    }
    .description-d {
      border: 1px solid #2c3236;
      color: #ffffff;
    }
    .description-d,
    .description-l {
      width: 100%;
      border-radius: 16px;
      background: transparent;
      padding: 12px;
      resize: none;
      margin: 24px 0;
      height: 140px;
      outline: none;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .subtask-d {
      > input {
        border: 1px solid #fafafa;
        color: #fafafa;
      }
      > span {
        color: #88949b;
      }
      > button {
        border: 1px solid #2c3236;
        color: #88949b;
        > span {
          color: #fafafa;
        }
      }

      .subtask-title {
        border: 1px solid #2c3236;
      }
    }
    .subtask-l {
      > input {
        border: 1px solid #1e1f21;
        color: #1e1f21;
      }
      > span {
        color: #88949b;
      }
      > button {
        border: 1px solid #d4d8db;
        color: #666a6e;
        > span {
          color: #1e1f21;
        }
      }
      .subtask-title {
        border: 1px solid #d4d8db;
      }
    }

    .subtask-d,
    .subtask-l {
      display: flex;
      flex-direction: column;
      gap: 4px;

      > input {
        width: 100%;
        background: transparent;
        outline: none;
        padding: 8px 12px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.14px;
        border-radius: 8px;
      }

      > span {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      > button {
        border-radius: 8px;
        background: transparent;
        width: 130px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        padding: 6px 0;

        > span {
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.14px;
        }
      }

      .subtask-title {
        border-radius: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 10px;
        cursor: pointer;

        &_left,
        &_right {
          color: #88949b;

          > span {
            color: #fafafa;
          }
        }

        &_left-l,
        &_right-l {
          color: #666a6e;

          > span {
            color: #1e1f21;
          }
        }

        &_left,
        &_right,
        &_left-l,
        &_right-l {
          display: flex;
          align-items: center;
          gap: 10px;

          > span {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.16px;
          }
        }
      }
    }
  }

  .comments {
    width: 100%;

    &-d {
      background: #25272c;
    }
    &-l {
      background: #eef0f5;
    }

    &_all,
    &-d,
    &-l {
      width: 100%;
      padding: 20px 27px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      &_comment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        &_top {
          display: flex;
          align-items: center;
          gap: 8px;

          .user-image {
            display: flex;
            width: 28px;
            height: 28px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 25px;
            background: rgba(42, 87, 200, 0.14);
            color: #2a57c8;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }
          .user-name-d {
            color: #fafafa;
          }
          .user-name-l {
            color: #1e1f21;
          }
          .user-name-d,
          .user-name-l {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
          }
          .circle {
            height: 4px;
            width: 4px;
            background: #88949b;
            border-radius: 50%;
          }
          .comment-date-l {
            color: #666a6e;
          }
          .comment-date-d {
            color: #88949b;
          }
          .comment-date-d,
          .comment-date-l {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
          }
        }
        &_bottom-d {
          color: #88949b;
        }
        &_bottom-l {
          color: #666a6e;
        }
        &_bottom-d,
        &_bottom-l {
          width: 100%;

          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
    .comment-l {
      background: #eef0f5;
      border-top: 1px solid #d4d8db;
    }
    .comment-d {
      background: #25272c;
    }
    .comment-d,
    .comment-l {
      width: 100%;
      padding: 16px 24px;

      .addCommentTextarea-l {
        border: none;
        color: #1e1f21;
      }
      .addCommentTextarea-d {
        color: #ffffff;
        border: none;
      }
      .addCommentTextarea-d,
      .addCommentTextarea-l {
        width: 544px;
        resize: none;
        background: transparent;
        border-radius: 8px;
        padding: 8px 12px;
        outline: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .addComment-l {
        border: 1px solid #d4d8db;
        border-radius: 8px;
      }
      .addComment-d {
        border: 1px solid #88949b;
        background: #1e2024;
        border-radius: 8px;
      }
      .addComment {
        border-radius: 8px;
        width: 544px;
        padding: 12px;

        .addCommentTextarea-l {
          color: #1e1f21;
        }
        .addCommentTextarea-d {
          color: #ffffff;
        }
        .addCommentTextarea-d,
        .addCommentTextarea-l {
          width: 100%;
          resize: none;
          background: transparent !important;
          border-radius: 8px;
          padding: 8px 12px;
          outline: none;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        &_add {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &_left-d {
            > * {
              color: #88949b;
              cursor: pointer;
            }
          }
          &_left-l {
            > * {
              color: #666a6e;
              cursor: pointer;
            }
          }
          &_left-d,
          &_left-l {
            display: flex;
            align-items: center;
            gap: 16px;
          }
        }
      }
    }
  }
}
