@mixin base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  @include base;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;

  &_dark-container {
    background: rgba(151, 157, 160, 0.15);
  }

  &_light-container {
    background: rgba(109, 110, 111, 0.44);
  }

  &_dark-container,
  &_light-container {
    @include base;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    .child {
      @include base;
      z-index: 6;
    }

    .child-full {
      width: 100%;
      height: 100%;
      @include base;
      z-index: 6;
      position: relative;
    }
  }
}
