@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;

  button {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.dark-container {
  margin: 0;
  padding: 0 0 0 295px;
  width: 100%;
  height: 100%;
  background: #1a1d1f;
}

.light-container {
  margin: 0;
  padding: 0 0 0 295px;
  width: 100%;
  height: 100%;
}
.cencel-btn {
  border: 1px solid #88949b;
  color: #fafafa;
}

.cencel-btn-l {
  border: 1px solid #666a6e;
  color: #1e1f21;
}

.cencel-btn,
.cencel-btn-l {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.14px;
  border-radius: 8px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.success-btn-l {
  background: #4683f7;
  border: 1px solid #4683f7;
}
.success-btn {
  background: #2a57c8;
  border: 1px solid #2a57c8;
}
.success-btn,
.success-btn-l {
  color: #fafafa;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.14px;
  border-radius: 8px;

  display: flex;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
}

.page-title {
  color: #fafafa;
}
.page-title-l {
  color: #1e1f21;
}
.page-title,
.page-title-l {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.empty_container {
  height: 100vh;
}

.gray {
  color: #88949b;
}
.gray-l {
  color: #666a6e;
}

.white {
  color: #fff;
}

.dark-white {
  color: #1e1f21;
}

.create-btn {
  color: #88949b;
}
.create-btn-l {
  color: #666a6e;
}

.create-btn,
.create-btn-l {
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 40px;
}
