.all-activities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .activity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 8px;
    &-time {
      width: 100%;
      height: 190px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr;
      display: flex;
      flex-direction: column;
      justify-content: end;

      &_dark {
        color: #fafafa;
      }
      &_light {
        color: #1e1f21;
      }

      > * {
        padding: 8px;
        text-align: center;
        width: 120px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.176px;
      }
    }
    &-sq {
      width: 86%;
    }
    &-day {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 0px;

      &_dark {
        color: #88949b;
      }
      &_light {
        color: #666a6e;
      }

      > * {
        padding: 8px;
        text-align: center;
        width: 120px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.176px;
      }
    }
  }
}
.monthly-activities {
  border-top: 1px solid #2c3236;
}
.monthly-activities-l {
  border-top: 1px solid #d4d8db;
}

.monthly-activities,
.monthly-activities-l {
  width: 100%;
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;

  .daysOfMonth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_day {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 9.5px;

      > span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &_sq,
    &_sq-l {
      border-radius: 4px;
      width: 28px;
      height: 28px;
    }

    &_sq {
      border: 1px solid #2a57c8;
      background: #2a57c8;
    }
    &_sq-l {
      border: 1px solid #4683f7;
      background: #4683f7;
    }
  }
}
